

.footer{
    position: relative;
    left: 700px;
    top: -500px;
    height: auto;
}

.lmore1{
    text-align: center;
}
.lmore2{
    color: #df522f;
    font-size: 25px;
    
}
/* arrowcode*/

 
  
  
  .right {

      background-color: #df522f;
    display: inline-block;
    position: relative;
    width: 1.6em;
    height: 1.6em;
    top: 30px;
    left: -20px;
      background-color: #df522f;
      border: 0.5em solid ;
    border-radius: 50%;
    margin-left: 1.5em;
  }
  
  .right:after {
      position: relative;
    content: '';
      display: inline-block;
    margin-top: 1.05em;
    margin-left: -0.6em;
    width: 0.4em;
    height: 0.4em;
    top: -30px;
    border-top: 0.3em solid white;
    border-right: 0.3em solid white;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }